<h3>Dare to be Etsy-fied...</h3>
<button type="button" ng-click ="sortData('title', listings)" class="sortTitle">Sort By Title</button> <button type="button" ng-click ="sortData('price', listings)" class="sortPrice">Sort By Price</button>
<div class="product" ng-repeat="listing in listings" data-id={{listing.id}}>
  <div class= "broughtUpImage"><img src="{{listing.image}}" width= "80"/></div>
  <div class= "broughtUpDetails">
      <a href="#/detail/{{listing.id}}">{{listing.title}}</a>
      <p>Last Modified: {{listing.lastModDt}}</p>
      <p class ="price"> {{listing.price}} {{listing.currency}}</p>
      <a href="{{listing.link}}">Visit Etsy</a>
      <button type="button" ng-controller = "CartController" ng-click="addToCart(listing)" class="addToCart">I'll Take it!</button>
  </div>
</div>
