<div class="product" data-id={{aListing.id}}>
  <h3>{{aListing.title}}</h3>
  <p>Last Modified: {{aListing.lastModDt}}</p>
  <img src="{{aListing.image}}"/>
  <p class ="price"> <strong> Price: </strong>{{aListing.price}} {{aListing.currency}}</p>
  <p class = "description"><strong>Description:</strong> {{aListing.description}} </p>
  <p class = "materials"><strong>Materials:</strong> {{aListing.materials}} </p>
  <a href="{{aListing.link}}">Visit Etsy</a>
  <button type="button" class="addToCart">I'll Take it!</button>
</div>
