<div class="allProducts" >
  <div class= "options">
       <span class="optionFont">Filter By: </span>  <input type="text" ng-model="search.title" name="name" placeholder="Filter By Title"><span class="optionFont"> or, </span>
      <button type="button" ng-click ="sortData('title', listings)" class="sortTitle">Sort By Title</button> <button type="button" ng-click ="sortData('price', listings)" class="sortPrice">Sort By Price</button>
  </div>

<single class= "productBlock" ng-repeat="listing in listings | filter: search:strict" i = "listing" action="addToCart(listing)"></single>

</div>
